.bold-text {
  font-weight: bold;
}

.footer {
  min-height: 60vh;
  background: #d4d6d8;
  margin: 0 !important;
}
.col2 {
  font-size: 16px;
  font-weight: bold;
}
.footertext {
  color: #3a427e;
  font-size: 14px;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
}

/* Styles to show underline on hover */

.footertext a:hover {
  text-decoration: underline;
}

.iconStyle {
  border-radius: 50%;
  margin: 5px;
  background-color: #09177c4e;
}
.iconStyle:hover {
  background-color: #3436464e;
}
